@charset "utf-8";
/* CSS Document */
/*main page styling*/
body{
	border:0;
	margin:0;
	}
#main_container{
	position:absolute;
	background-image:url(../images_videos/bgImg/nightcam003.jpg);
	background-size:cover;
	height:100%;
	width:100%;
	overflow:hidden;
	}
#MyName{
	position:absolute;
	font-family:dejavu_serifbook;
	font-size:16pt;
	color:#FC0;
	margin-top:20px;
	margin-left:30px;
	max-width:200px;
	
	}
#job{
	color:#aaa;
	font-size:11pt;
	margin-top:-7px;
	}
#main_btn_container{
	position:absolute;
	font-family:dejavu_serifbook;
	color:white;
	font-size:9pt;
	right:35px;
	margin-top:30px;
	}
#main_btn_container p{
	display:inline;
	margin-left:12px;
	}
#btnHome{
	text-decoration:underline;
}
#main_btn_container p:hover{
	color:#FC0;
	cursor:pointer;
	}
#Main_Contents{
	position:absolute;
	background-color:rgba(29,31,46,0.9);
	border:solid white thin;
	width:31%;
	min-width:360px;
	height:85%;
	right:30px;
	margin-top:80px;
	-webkit-transition: width 0.4s  ease-in-out; /* Safari */
    transition: width 0.4s ease-in-out;
	display:block;
	clear:left;
}


/*Home page content styling*/
#home p,#about p,#about a,#gallery p,#resume p, #contact p{
	color:white;
	text-align:left;
	margin-left:20px;
	margin-right:20px;
	font-size:10pt;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	line-height:16pt;
	word-wrap:normal !important;
	margin-bottom:60px;
}
#home h2{
	color:#FC0;
	text-align:left;
	margin-left:20px;
	margin-right:20px;
	margin-top:40px;
	font-size:10pt;
	font-family:Arial, Helvetica, sans-serif;
	}

#homeBody{
	background-color:rgba(29,31,46,0);
	
}
ul{
	list-style:disc;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10pt;
	color:white;
	margin-top:-40px;
	margin-bottom:-40px;
	
}
li{
	height:3em;
}
#home hr{
	margin-top: 0;
    margin-bottom: 0;
	border-bottom-style:dashed;
	border-color:#AAA;
	margin-left:20px;
	margin-right:20px;
}
/*About page*/
#about{
	position:absolute;
	border-right:thin solid white !important;
	width:50%;
	height:100%;
	overflow:auto;
}
#about h2{
	color:#FC0;
	text-align:left;
	margin-left:50px;
	margin-right:50px;
	margin-top:40px;
	margin-bottom:-30px;
	font-size:10pt;
	font-family:Arial, Helvetica, sans-serif;
	}
#about p{
	
	margin-left:50px;
	margin-right:50px;
	word-spacing:0.06em;
	margin-bottom:40px !important;
}
#about a{
	margin:1px;
}
#about a:hover{
	color:#FC0;
}

#chrono{
	position:relative;
	right:0;
	width:100%;
	height:54.9%;
	border:0;
	border-bottom:thin solid white;
	border-left:thin solid white;
	overflow:hidden;
	z-index:1;
	
	
}
#chronoMovie{
	width:100%;
	height:100%;
	}
#skillsMovie{
	width:100%;
	height:100%;
}
#skills{
	position:relative;
	width:70%;
	height:50%;
	border:none;
	overflow:hidden;
	z-index:-1;
	}
#iframePlace{
	display:inline-block;
	position:absolute;
	right:0;
	width:50%;
	height:100%;
	overflow:hidden;
}
#refDnlds{
	position: absolute;
	width:25%;
	height:40%;
	right:0;
	bottom:0;
	border:thin solid white;
	border-bottom:none;
	border-right:none;
	overflow:auto;
	
	}
#refDnlds p, a{color:white;
	text-align: center;
	margin-left:10px;
	margin-right:10px;
	margin-top:20px;
	margin-bottom:30px;
	font-size:10pt;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
}
#refDnlds a:hover{
	text-decoration:underline;
	}

/*Gallery*/
#galleryContainer{
	position:absolute;
	overflow:hidden;
	right:0;
	top:0;
	width:60%;
	height:100%;
	border-left:thin solid white;
	z-index:1;
	}
#btnContainer{
	
	position:absolute;
	width:40%;
	border-bottom:thin dashed white;
	color:white;
	text-align: center;
	font-size:10pt;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	}
#btnContainer p{
	display:inline-block;
	clear:both;
	margin:10px;
	margin-top:20px;
	margin-bottom:20px;
	}
.gallery_btn:hover{
	color:#FC0;
	cursor:pointer;
	text-decoration:underline;
}
#imgInfo{
	border:thin solid white;
	position:absolute;
	width:35%;
	height:75%;
	margin:2.5%;
	margin-top:100px;
	overflow:auto;
	
	}
#imgInfo p{
	color:white;
	text-align: justify;
	margin:20px;
	font-size:10pt;
	font-family:Arial, Helvetica, sans-serif;
	line-height:15pt;
}
#imgInfo span{
	color:#FC0;
	font-size:12pt;
	font-weight:bold;
}
#instructions  {
	color:#FC0!important;
	text-decoration:underline;
	text-align: center !important;
}
#imageFrame{
	position:relative;
	margin:auto;
	top:20px;
	width:215px;
	height:220px;	
	overflow:hidden;
}
#polaroidFrame{
	position:absolute;
	width:250px;
	height:300px;
	box-shadow: 2px 4px 5px rgba(0, 0, 0, .5);
	transition: transform 0.1s linear;
}
#blackScreen{
	
	position:absolute;
	top:0;
	left:0;
	background:black;
}
#tempDiv{
	position:absolute;
	z-index:10;
	}
#imgPos{
	position:relative;
	width:100%;
	height:100%;
}
#imageTitle{
	position:relative;
	margin-top:30px;
	padding-top:10px;
	border:thin  solid #CCC;
	width:85%;
	height:30px;
	margin-left:auto;
	margin-right:auto;
	color:black;
	text-align: center;
	font-size:10pt;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	
}
#googleMap{
	border:thin solid black;
	width:350px;
	height:350px;
	margin:auto;
	margin-top:25px;
	}
#contactText{
	margin-top:60px;}
#contactText span{
	color:#FC0;
	font-size:11pt;
	margin-right:10px;
	margin-left:15px;

}
